.form {
  margin: 0 auto;
}

.input {
  margin-left: 12px;
  border-bottom: 1px solid black;
}

.submitButton {
  padding: 4px 12px;
  margin-top: 16px;
  font-size: 16px;
  color: white;
  background-color: #1d72f3;
  border-radius: 8px;
}

.closeButton {
  padding: 4px 12px;
  margin-top: 16px;
  font-size: 16px;
  color: white;
  background-color: #ff5722;
  border-radius: 8px;
}
